body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.contact, .education, .experience, .projects{
    margin: 20px;
}

h2 {
    color: #3498db;
}

ul {
    list-style-type: none;
    padding: 0;
}

section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px; 
}

section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}